.background-image {
  height: 700px;
  width: 100%;
  max-width: 476px;
  min-width: 464px;
  background-image: url("../img/soccer-green-field.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tb-player {
  border-radius: 10%; /* Rende i bordi arrotondati */
  padding: 0;
  overflow: hidden;
  border: none;
  background: none; /* Rimuove lo sfondo del bottone */
  position: relative; /* Aggiungi posizione relativa per posizionare la x rispetto al bottone */
}

.tb-player img {
  width: 100%;
  height: auto;
  display: block; /* Rimuove eventuali spazi extra sotto l'immagine */
  max-width: 50px;
  max-height: 50px;
}

.bottone-info:hover {
  background-color: lightgray;
}

.bottone-info {
  background-color: #ffffff;
}

.image-overlay-container {
  position: relative;
  display: inline-block; /* O 'block' a seconda delle tue necessità */
}

.image-overlay-container img {
  display: block; /* Rimuove eventuali spazi extra sotto l'immagine */
  width: 100%; /* Assicura che l'immagine copra tutto il contenitore */
  height: auto; /* Mantiene le proporzioni dell'immagine */
}

.image-overlay {
  border: 3px solid #595959;
}

.image-overlay-selected {
  border: 3px solid #fd9902;
}

.remove-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
