@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Utility classes */
.padding {
    padding: 10px;
}

/* Menu */
.menu {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.menu-item {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
    text-decoration: none;
}

.menu-item:hover {
    text-decoration: underline;
    color: chocolate;
}

/* News container */
.news-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    color: black;
    padding: 20px;
    box-sizing: border-box;
}

.news-title {
    margin-top: 0;
}

.news-text {
    word-wrap: break-word;
}

/* Search form */
.divSearchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.center {
    text-align: center;
}

.search-bar-container {
    text-align: center;
}

.search-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.search-form input,
.search-form button {
    margin: 5px;
}

/* Chocolate button */
.btn-chocolate {
    background-color: chocolate;
    border-color: chocolate;
    color: white;
}

.btn-chocolate:hover {
    background-color: #8b4513;
    border-color: #8b4513;
    color: white;
}

/* Row */
.row {
    width: 100%;
    height: 100%;
}

/* Square */
.square {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 200px;
    height: 200px;
}

.quadrati-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quadrato-padding {
    padding: 10px;
}

/* Title */
.title {
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    text-decoration: none;
}

.center-text {
    text-align: center;
}

/* Centered image */
.center-img {
    border-image-width: 1px;
    border: 1px solid #ccc;
    display: block;
    margin: 4% auto;
    border-radius: 50%;
    width: 90%;
    height: auto;
    max-width: 200px;
}

/* Player card */
.results-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 90%;

}

.card-subtitle {
    color: chocolate;
    font-weight: bold;
    text-decoration: underline;
}

/* Solid border */
hr.solid {
    border-top: 1px solid #ccc;
}

/* Chart container */
.chart-container canvas {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100% !important;
    height: 50% !important;
    margin: 3%;
}
.results-card:hover {
    background-color: orange;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 3px solid rgba(120, 113, 113, 0.1);
    border-left-color: #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.results-div{
    min-height: 400px;
    min-width:800px;
    z-index: 999;
}
.home {
    z-index: 1;
}


/* Beginning of section for the SingleChat page */
.bg-custom {
    background-color: #CAD2C5;
    /*background-color: #84A98C;*/
}

.message-item {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #354F52;
}

.message-item:last-child {
    border-bottom: none;
}

#messages {
    height: calc(100vh - 230px); /* Imposta l'altezza in modo che non superi un certo limite */
    overflow-y: auto; /* Abilita lo scorrimento verticale */
}
/* Ending of section for the SingleChat page */
.ff {
    background-color: #d2691e; /* Chocolate color */
    color: white; /* White text color */
    border-width: 0;
    border-radius: 10%;

}

.ff:hover {
    background-color: #4d2e07;
    color: black;
}

.ff-not {
    background-color: #4d2e07;
    color: black;
    border-width: 0;
    border-radius: 10%;
}